html, body {
    height: 100%;
}

body {
    margin: 1em;
    display: grid;
    grid: auto-flow min-content / repeat(12, 1fr);
    grid-gap: 1em;
}

header, footer {
    grid-column: 1 / -1;
    /* grid-column-start: 1;
    grid-column-end: 13; */
}

aside, nav {
    /* grid-column: 1 / 5; */
    grid-column-start: 1;
    grid-column-end: 5;
}

main {
    /* grid-area: 2 / 5 / 4 / 13; short hand = row start / column start / row end / column end*/
    /* grid-column/row: start / end */

    grid-row: 2 /4;
    grid-column: 5 / 13;
    /* grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 4; */
}

body > img {
    grid-column: span 3;
}
